body
{
	background:url("background web.jpg") fixed repeat-y;
	background-size: 100%;
	display:flex;
	flex-direction:column;
	font-size:110%;
	height:100%;
	width:100%;
	font-family:"comicbd.ttf";
	
}

.capital
{
	font-size: 200%;
	font-family:"ITCEDSCR.TTF";
	font-weight:bold;
}

@font-face
{
	font-family:"comicbd.ttf";
	src: url('comicbd.ttf');
}


@font-face {
	font-family:"ITCEDSCR.TTF";
	src: url('ITCEDSCR.TTF');
}

#Partie_1
{
	border-left: 0.5em solid rgb(151,169,49);
	border-top: 0.5em solid rgb(151,169,49);
	border-right:0.5em solid rgb(151,169,49);
	margin-right: 15%;
	margin-left: 15%;
	display:flex;
	flex-direction:row;
	height:230px;
	border-radius:1em;
}

#Partie_1_1
{
	overflow-y: scroll;
	text-align:center;
}

#Partie_2
{
	border-left: 0.5em solid rgb(243,216,11);
	border-top:0.5em solid rgb(243,216,11);
	border-right: 0.5em solid rgb(243,216,11);
	margin-right: 15%;
	margin-left: 15%;
	display:flex;
	flex-direction:row;
	height:500px;
	border-radius:1em;
}

#Partie_2_1
{
	border-left: 0.2em solid rgb(236,90,30);
	border-top:0.5em solid rgb(236,90,30);
	border-bottom:0.2em solid rgb(236,90,30);
	border-right: 0.5em solid rgb(236,90,30);
	margin-left: 5%;
	height:90%;
	margin-top:5%;
	overflow-y: scroll;
	border-radius:1em;
	box-sizing: border-box;
	padding-left:1%;
	padding-right:1%;
}

#Partie_2_2
{
	border-left: 0.2em solid rgb(236,90,30);
	border-top:0.5em solid rgb(236,90,30);
	border-bottom:0.2em solid rgb(236,90,30);
	border-right: 0.5em solid rgb(236,90,30);
	overflow-y: scroll;
	margin-right: 5%;
	margin-left: 5%;
	height:90%;
	margin-top:5%;
	border-radius:1em;
	padding-left:1%;
	padding-right:1%;
}


#Partie_3_1
{
	border-left: 0.5em solid rgb(44,95,140);
	border-top: 0.5em solid rgb(44,95,140);
	border-right: 0.5em solid rgb(44,95,140);
	border-bottom: 0.5em solid rgb(44,95,140);
	overflow-y: scroll;
	margin-right: 15%;
	margin-left: 15%;
	border-radius:1em;
}
#Partie_3_2
{
	border-left: 0.5em solid rgb(44,95,140);
	border-top: 0.5em solid rgb(44,95,140);
	border-right: 0.5em solid rgb(44,95,140);
	border-bottom: 0.5em solid rgb(44,95,140);
	overflow-y: scroll;
	margin-right: 15%;
	margin-left: 15%;
	border-radius:1em;
}